<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div th:x-data="|initData('${pageNo}')|">
        <div class="mb-3">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a :href="pageBaseUrl + '/create'" class="nav-link text-bg-secondary p-3">Add New Product</a>
                </li>
            </ul>
        </div>
        <div th:replace="~{fragments/pagination :: pagination}"></div>
        <div class="row row-cols-1 row-cols-md-5">
            <template x-for="product in pagedResult.data">
                <div class="col mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <a :href="pageBaseUrl + '/' + product.code">
                                <h5 class="card-title" data-placement="top" data-toggle="tooltip"
                                    x-text="product.name"></h5>
                            </a>
                            <p class="card-text" data-placement="top" data-toggle="tooltip"
                               x-text="product.category"></p>
                            <p class="card-text" data-placement="top" data-toggle="tooltip"
                               x-text="product.description"></p>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
<div layout:fragment="pageScripts">
    <script src="/js/inventory/products/products.js"></script>
</div>
</body>
</html>